In [57]:
# print function
print("Hello, World!")

Hello, World!

In [58]:
# Variables

#Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program

## Declaring And Assigning Variables

age=32
height=6.1
name="Krish"
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 32
Height: 6.1
Name: Krish

In [59]:
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [60]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [61]:
name="Krish"
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [6]:
age = input("Enter the age")

res_age = int(age)

print(type(res_age))

<class 'int'>

In [9]:
# DataTypes
age=35
type(age)

##floating point datatype
height=5.11
print(height)
print(type(height))

## string datatype example
name="Krish"
print(name)
print(type(name))

## boolean datatype
is_true=True
type(is_true)

5.11
<class 'float'>
Krish
<class 'str'>

bool

In [87]:
# Conditional Statements (if, elif, else)

## if statement
age=20

if age>=18:
    print("You are allowed to vote in the elections")
    print(type(age ))
    print("you are in india")

You are allowed to vote in the elections
<class 'int'>
you are in india

In [88]:
## else
## The else statement executes a block of code if the condition in the if statement is False.

age=16

if age>=18:
    print("You are eligible for voting")
else:
    print("You are a minor")

You are a minor

In [89]:
## elif
## The elif statement allows you to check multiple conditions. It stands for "else if"

age=17

if age<13:
    print("You are a child")
elif age<18:
    print("You are a teenager")
else:
    print("You are an adult")

You are a teenager

In [24]:
## Nested Condiitonal Statements

# You can place one or more if, elif, or else statements inside another if, elif, or else statement to create nested conditional statements.

## number even ,odd,negative

num=int(input("Enter the number"))

if num>0:
    print("The number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

else:
    print("The number is zero or negative")

The number is positive
The number is odd

In [26]:
# User login system

# Predefined username and password
stored_username = "admin"
stored_password = "password123"

# Take user input
username = input("Enter username: ")
password = input("Enter password: ")

# Check login credentials
if username == stored_username:
    if password == stored_password:
        print("Login successful!")
    else:
        print("Incorrect password.")
else:
    print("Username not found.")

Username not found.

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [28]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [34]:
## while loop

## The while loop continues to execute as long as the condition is True.

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [35]:
## Loop Control Statements

## break
## The break statement exits the loop permaturely

## break sstatement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [90]:
## continue

## The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [1]:
# Introduction To Lists
# Lists are ordered, mutable collections of items.
# They can contain items of different data types.

lst=[]
print(type(lst))

<class 'list'>

In [3]:
names=["Krishna","Jack","Jacob",1,2,3,4,5]
print(names)

['Krishna', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [4]:
### Accessing List Elements

fruits=["apple","banana","cherry","kiwi","gauva"]

In [5]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [6]:
print(fruits[1:])
print(fruits[1:3])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']

In [7]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [8]:
## List Methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [9]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [11]:
fruits.remove("watermelon") ## Removing the first occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [12]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [13]:
index=fruits.index("cherry")
print(index)

2

In [14]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

1

In [15]:
fruits.sort()

In [19]:
fruits

['apple', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [20]:
fruits.reverse() ## REverse the list
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'apple']

In [21]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

In [22]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]